{% extends 'main/base.html' %}
{% load static %}

{% block ctn %}
    <div class="files">
        <div class="wrap m-10">
            <div class="createForm">

            </div>
            {% if data.files %}
                <div class="main grid grid-cols-4 gap-5">
                    {% for file in data.files %}
                        <div class="file grid grid-rows-[1fr] gap-2 p-2 h-18 bg-slate-600 rounded">
                            <div class="file__name hover:text-teal-200 text-center truncate cursor-pointer">
                                {{ file.filename }}
                            </div>
                            <div class="file__options bg-gray-500 grid grid-cols-3 p-1">
                                <div class="file__del text-left mt-1">
                                    <a href="{% url 'del_file' file.uuid %}">
                                        <button class="bg-red-800 hover:bg-red-600 text-white font-bold px-2 rounded inline-flex items-center">
                                            <span>Delete</span>
                                        </button>
                                    </a>
                                </div>
                                <div class="file__selectFolder">

                                    <form method="POST" action="{% url 'fileUpdate' file.uuid %}">
                                        {% csrf_token %}
                                        <select class="text-black cursor-pointer" name="folder">
                                            {% if file.folder %}
                                                <option class="cursor-pointer"
                                                        value="{{ file.folder.uuid }}">{{ file.folder }}</option>
                                            {% else %}
                                                <option class="cursor-pointer" value="Null">None</option>
                                            {% endif %}

                                            {% for folder in data.folders %}
                                                <option value="{{ folder.uuid }}">{{ folder.name }}</option>
                                            {% endfor %}
                                        </select>

                                        <input type="submit"
                                               name="Save File's Folder"
                                               class="bg-blue-500 hover:bg-blue-700 hover:cursor-pointer text-white font-bold py-1 px-2 rounded-full"
                                               value="Save"/>
                                    </form>
                                </div>
                                <div class="file__download text-right mt-1">
                                    <a href="{{ file.file.url }}">
                                        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold px-2 rounded inline-flex items-center">
                                            <span>Download</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}